<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headAttributes">
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
        <link th:rel="stylesheet" th:href="@{/css/base.css}">
    </th:block>
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="text-center">Mini-Notes</h2>
                </div>
                <div class="row justify-content-center">
                    <class class="col-12 text-center">
                        <img id="temp_image"th:src="@{/images/temp_image.jpg}" alt="">
                    </class>
                </div>

            </div>


        </div>


    </div>
    <div th:fragment="footer">

      Carl Powaza <br>Copyright @2021
    </div>

</body>
    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
    </th:block>

</html>