<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW PAGE!</title>
</head>
<body>
<h2>HI</h2>

<br>

<form th:action="@{/note}" th:object="${note}" method="post">
    <input type="text"id="title" th:field="*{title}" placeholder="Title">
    <br>
    <input type="text"id="body" th:field="*{body}" placeholder="body">
    <br>
    <input type="submit" value="Add note!">
</form>


<br> <br> <br> <br>

<p> ok ok </p>
<div th:each="st:${notes}">
    <div th:text="${st.title}"></div>
    <div th:text="${ st.body}"></div>

</div>






</body>
</html>