<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>My Mini-Notes</title>
</head>
<body>
<div th:replace="fragments/base ::navigation"></div>
<div th:replace="fragments/base ::header"></div>


<div class="container-fluid mt-5">
    <div th:each="notes: ${notes}">
        <div class="row justify-content-center mb-5">
            <div class="col-2 col-md-4"></div>
            <div class="col-8 col-md-4 card">
                <div class="card-body">
                    <h5 class="card-title d-inline" th:text="'Title: '+${notes.title}"></h5>
                   <!--- <a  class="ml-3 text-dark"><i class="fas fa-eye"></i></a> --->
                    <a th:href="@{/note/edit/{id}(id=${notes.id})}" class="ml-3 text-dark"><i class="fas fa-edit" ></i></a>
                    <a th:href="@{/note/delete/{id}(id=${notes.id})}" type="button" data-toggle="modal" data-target="#delete" class="ml-3 text-danger" ><i class="fas fa-trash-alt"  ></i></a>

                    <!---<th:block th:replace="fragments/modal :: modal('delete')">modal</th:block>--->

                    <br> <span th:text="${notes.body}"></span>
                </div>
            </div>
            <div class="col-2 col-md-4"></div>
        </div>

    </div>

</div>



<div th:replace="fragments/base :: footer"></div>

</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>